@charset "UTF-8";
@font-face {
  font-family: "raleway";
  src: url("../fonts/raleway.ttf");
}
@font-face {
  font-family: "roboto-light";
  src: url("../fonts/roboto-light.ttf");
}
@font-face {
  font-family: "dancing-script";
  src: url("../fonts/dancingscript.ttf");
}
* {
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "raleway";
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #30a958;
}

ul {
  list-style: none;
}

h1 {
  font-weight: 600;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
}
@media (min-width: 1200px) {
  h2 {
    font-size: 1.8rem;
  }
}

h3 {
  font-size: 0.85rem;
  font-weight: 300;
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.2rem;
  }
}

h4 {
  font-size: 1rem;
  font-weight: 500;
}

main {
  font-size: 1rem;
}

.imagen {
  width: 100%;
}

/* ====== NAVBAR ======= */
.navbar {
  background-color: #FDEFD6;
}

.nav-item {
  font-size: 0.9rem;
}
.nav-link:hover {
  color: #30a958;
  transform: scale(1.1);
  transition: transform 0.2s;
}

/* ====== FOOTER ======= */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3em;
  gap: 1em;
}
@media (min-width: 1200px) {
  .footer {
    display: grid;
    grid-template-areas: "explorar ubicacion copyright logo" "explorar ubicacion privacy logo";
    grid-template-columns: repeat(3, 20vw) auto;
    text-align: left;
  }
  .footer .footer-explorar {
    grid-area: explorar;
  }
  .footer .footer-ubicacion {
    grid-area: ubicacion;
  }
  .footer .footer-privacy {
    grid-area: privacy;
  }
  .footer .footer-logo-futuria {
    grid-area: logo;
  }
}
.footer span {
  display: block;
  font-size: 1rem;
  margin: 0.5em;
}
.footer h4 {
  font-weight: 500;
}
.footer-copyright span {
  font-size: 0.75rem;
}

/* ====== BUTTON ======= */
.button {
  background-color: #85D09E;
  border: none;
  color: black;
  font-size: 0.85rem;
  font-weight: 500;
  border-radius: 5px;
  padding: 1em 3em;
}
.button:hover {
  background-color: #30a958;
  color: white;
  transform: scale(1.1);
  transition: transform 0.3s;
}
.button-up {
  font-size: 2.5rem;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #85D09E;
}
.button-up:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

/* ====== BANNER ======= */
.banner-info {
  background-color: #85D09E;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding-bottom: 0.5em;
  padding: 1rem;
  font-size: 0.85rem;
  font-weight: 500;
}
@media (min-width: 1200px) {
  .banner-info {
    font-size: 1rem;
    padding: 1rem 18rem;
  }
}

.banner-numeros {
  font-family: roboto-light;
  font-size: 2rem;
  display: block;
}
@media (min-width: 1200px) {
  .banner-numeros {
    font-size: 3rem;
  }
}

/* ====== INSTAGRAM ======= */
.seguinos-instagram {
  background-color: #FDEFD6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 30px;
  text-align: center;
}
.seguinos-instagram h3 {
  font-family: dancing-script;
  font-size: 2em;
}
@media (min-width: 1200px) {
  .seguinos-instagram h3 {
    font-size: 2.5em;
  }
}
.seguinos-instagram a {
  font-size: 1.5em;
  margin-bottom: 1em;
}
@media (min-width: 1200px) {
  .seguinos-instagram a {
    font-size: 2em;
  }
}
.seguinos-instagram-remark {
  font-weight: 600;
}

.typed {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 5s;
  animation-timing-function: steps(60, end);
  animation-fill-mode: forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* ====== INDEX/HOME ======= */
/* ------ Portada ------ */
.portada {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1200px) {
  .portada {
    background-image: url(../images/image-1.png);
    background-size: cover;
    height: 600px;
    padding: 0px 40px;
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    justify-items: flex-end;
  }
}
.portada-texto {
  width: 80%;
  text-align: center;
}

@media (min-width: 1200px) {
  .imagen1 {
    display: none;
  }
}

/* ------ Cualidades ------ */
.section-cualidades {
  padding: 20px 10px;
  background-color: #FDEFD6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1200px) {
  .section-cualidades {
    display: grid;
    grid-template-rows: auto repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 0px;
    justify-items: center;
  }
  .section-cualidades .image-reverse1 {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .section-cualidades .image-reverse2 {
    grid-column-start: 1;
    grid-row-start: 3;
  }
}
.section-cualidades .futuria {
  font-weight: 800;
  font-size: 1.2rem;
  display: inline-block;
}
@media (min-width: 1200px) {
  .section-cualidades .futuria {
    font-size: 1.8rem;
  }
}
.section-cualidades-text {
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

/* ------ Recomendaciones ------ */
.recomendacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}
.recomendacion h2 {
  width: 70%;
  text-align: center;
}
.recomendacion-marcas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 1200px) {
  .recomendacion-marcas {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6rem;
    row-gap: 2rem;
    margin: 2rem;
  }
}
.recomendacion-marcas img {
  width: 10em;
  justify-items: center;
}
@media (min-width: 1200px) {
  .recomendacion-marcas img {
    width: 15em;
  }
  .recomendacion-marcas img:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
  }
}

/* ------ Trabajemos Juntos ------ */
.section-trabajemos-juntos {
  background-image: url("../images/image-5.png");
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
}
@media (min-width: 1200px) {
  .section-trabajemos-juntos {
    height: 600px;
    display: grid;
    grid-template-columns: 50vw 40vw 10vw;
  }
  .section-trabajemos-juntos-text {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
  }
}

/* ====== SERVICIOS ======= */
/* ------ Servicios-Intro ------ */
.servicios-intro {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1200px) {
  .servicios-intro {
    display: grid;
    grid-template-columns: 40vw 60vw;
  }
}
.servicios-intro-text {
  width: 80vw;
  max-width: 600px;
  text-align: center;
}
@media (min-width: 1200px) {
  .servicios-intro-text {
    width: 85%;
    max-width: 450px;
    justify-self: flex-end;
  }
}
.servicios-intro-text span {
  display: inline-block;
  margin-top: 0.5rem;
}
.servicios-intro p {
  margin-top: 1rem;
}
@media (min-width: 1200px) {
  .servicios-intro img {
    width: 80%;
    max-width: 600px;
    justify-self: center;
  }
}

/* ------ Servicios ------ */
.servicios {
  background-color: #FDEFD6;
  padding: 2.5rem 1.5rem;
  text-align: center;
}
.servicios-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 1200px) {
  .servicios-text {
    padding: 0rem 5rem;
    margin-bottom: 2rem;
  }
}

.detalle-servicios {
  display: grid;
  grid-template-columns: 15% 85%;
  row-gap: 1rem;
  column-gap: 1rem;
  text-align: left;
}
@media (min-width: 1200px) {
  .detalle-servicios {
    grid-template-columns: 10% 35% 10% 35%;
    row-gap: 2rem;
    padding: 1rem 4rem;
  }
}
.detalle-servicios span {
  font-family: "roboto-light";
  font-size: 2.5rem;
  text-align: right;
}
@media (min-width: 1200px) {
  .detalle-servicios span {
    font-size: 3.5rem;
  }
  .detalle-servicios span:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
    color: #30a958;
  }
}

/* ------ Logros ------ */
.logros {
  padding: 2.5rem 2rem;
  text-align: center;
}
.logros-list {
  font-weight: 500;
  font-size: 0.85rem;
  padding: 0.5rem;
}
@media (min-width: 1200px) {
  .logros-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    text-align: center;
  }
  .logros-list p:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
  }
}
@media (min-width: 1200px) {
  .logros {
    padding: 2.5rem 7.5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 2rem;
  }
}
.logros span {
  display: inline-block;
  margin-top: 1rem;
}

.bi-diamond-fill {
  font-size: 0.6rem;
  color: #85D09E;
}

/* ------ Recomendación de usuario ------ */
.recomendacion-usuario {
  background-image: url("../images/imagen-2bservicios.png");
  background-size: cover;
  height: 450px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  padding: 2rem;
}
@media (min-width: 1200px) {
  .recomendacion-usuario {
    background-image: url("../images/imagen-2servicios.jpg");
    padding: 2rem 7.5rem;
  }
}
.recomendacion-usuario-text {
  font-weight: 600;
  font-style: oblique;
  line-height: 1.6;
  width: 60vw;
}
@media (min-width: 1200px) {
  .recomendacion-usuario-text {
    font-size: 1.2rem;
    width: 50vw;
  }
}

/* ------ Solicitar entrevista ------ */
.solicitar-entrevista {
  background-color: #FDEFD6;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
}
@media (min-width: 1200px) {
  .solicitar-entrevista {
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
  }
}
.solicitar-entrevista-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  align-self: center;
}
@media (min-width: 1200px) {
  .solicitar-entrevista-text {
    grid-column-start: 2;
    max-width: 30vw;
    justify-self: center;
  }
}
.solicitar-entrevista span {
  display: inline-block;
  margin-top: 1rem;
}
.solicitar-entrevista img {
  display: none;
}
@media (min-width: 1200px) {
  .solicitar-entrevista img {
    display: inline;
    justify-self: center;
    width: 100%;
    max-width: 600px;
    grid-column-start: 1;
    grid-row-start: 1;
  }
}

@media (min-width: 1200px) {
  .button-entrevista {
    grid-column-start: 2;
  }
}

/*# sourceMappingURL=styles.css.map */
