@charset "UTF-8";
@font-face {
  font-family: "raleway";
  src: url("../fonts/raleway.ttf");
}
@font-face {
  font-family: "roboto-light";
  src: url("../fonts/roboto-light.ttf");
}
@font-face {
  font-family: "dancing-script";
  src: url("../fonts/dancingscript.ttf");
}
* {
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "raleway";
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #30a958;
}

ul {
  list-style: none;
}

h1 {
  font-weight: 600;
}

h2 {
  font-size: 1.3rem;
  font-weight: 600;
}
@media (min-width: 1200px) {
  h2 {
    font-size: 1.8rem;
  }
}

h3 {
  font-size: 1rem;
  font-weight: 500;
}

h4 {
  font-size: 0.85rem;
  font-weight: 300;
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.3rem;
  }
}

h5 {
  font-size: 0.85rem;
  font-weight: 500;
}
@media (min-width: 1200px) {
  h5 {
    font-size: 1rem;
  }
}

main {
  font-size: 1rem;
}

.imagen {
  width: 100%;
}

/* ====== NAVBAR ======= */
.navbar {
  background-color: #FDEFD6;
}

.nav-item {
  font-size: 0.9rem;
}
.nav-link:hover {
  color: #30a958;
  transform: scale(1.1);
  transition: transform 0.2s;
}

/* ====== FOOTER ======= */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3em;
  gap: 1em;
}
@media (min-width: 1200px) {
  .footer {
    display: grid;
    grid-template-areas: "explorar ubicacion copyright logo" "explorar ubicacion privacy logo";
    grid-template-columns: repeat(3, 20vw) auto;
    text-align: left;
  }
  .footer .footer-explorar {
    grid-area: explorar;
  }
  .footer .footer-ubicacion {
    grid-area: ubicacion;
  }
  .footer .footer-privacy {
    grid-area: privacy;
  }
  .footer .footer-logo-futuria {
    grid-area: logo;
  }
}
.footer span {
  display: block;
  font-size: 1rem;
  margin: 0.5em;
}
.footer-copyright span {
  font-size: 0.75rem;
}

/* ====== BUTTON ======= */
.button {
  background-color: #85D09E;
  border: none;
  color: black;
  font-size: 0.85rem;
  font-weight: 500;
  border-radius: 5px;
  padding: 1em 3em;
}
.button:hover {
  background-color: #30a958;
  color: white;
  transform: scale(1.1);
  transition: transform 0.3s;
}
.button-up {
  font-size: 2.5rem;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #85D09E;
}
.button-up:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

/* ====== BANNER ======= */
.banner-info {
  background-color: #85D09E;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding-bottom: 0.5em;
  padding: 1rem;
  font-size: 0.85rem;
  font-weight: 500;
}
@media (min-width: 769px) and (max-width: 1199px) {
  .banner-info {
    font-size: 1rem;
    padding: 1rem 8rem;
  }
}
@media (min-width: 1200px) {
  .banner-info {
    font-size: 1rem;
    padding: 1rem 18rem;
  }
}

.banner-numeros {
  font-family: roboto-light;
  font-size: 2rem;
  display: block;
}
@media (min-width: 1200px) {
  .banner-numeros {
    font-size: 3rem;
  }
}

/* ====== INSTAGRAM ======= */
.seguinos-instagram {
  background-color: #FDEFD6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}
.seguinos-instagram h3 {
  font-family: dancing-script;
  font-size: 2em;
}
@media (min-width: 1200px) {
  .seguinos-instagram h3 {
    font-size: 2.5em;
  }
}
.seguinos-instagram a {
  font-size: 1.5em;
  margin-bottom: 1em;
}
@media (min-width: 1200px) {
  .seguinos-instagram a {
    font-size: 2em;
  }
}
.seguinos-instagram-remark {
  font-weight: 600;
}

.typed {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 5s;
  animation-timing-function: steps(60, end);
  animation-fill-mode: forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* ====== INDEX/HOME ======= */
/* ------ Portada ------ */
.portada {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1200px) {
  .portada {
    background-image: url(../images/image-1.png);
    background-size: cover;
    height: 600px;
    padding: 0 2.5rem;
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    justify-items: flex-end;
  }
}
.portada-texto {
  width: 80%;
  text-align: center;
}

@media (min-width: 1200px) {
  .imagen1 {
    display: none;
  }
}

/* ------ Cualidades ------ */
.section-cualidades {
  padding: 20px 10px;
  background-color: #FDEFD6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 769px) and (max-width: 1199px) {
  .section-cualidades img {
    padding: 2rem;
    width: 80%;
    max-width: 600px;
  }
}
@media (min-width: 1200px) {
  .section-cualidades {
    display: grid;
    grid-template-rows: auto repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 0px;
    justify-items: center;
  }
  .section-cualidades .image-reverse1 {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .section-cualidades .image-reverse2 {
    grid-column-start: 1;
    grid-row-start: 3;
  }
}
.section-cualidades .futuria {
  font-weight: 800;
  font-size: 1.3rem;
  display: inline-block;
}
@media (min-width: 1200px) {
  .section-cualidades .futuria {
    font-size: 1.8rem;
  }
}
.section-cualidades-text {
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

/* ------ Recomendaciones ------ */
.recomendacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 1rem;
}
.recomendacion h2 {
  width: 70%;
  text-align: center;
}
@media (min-width: 1200px) {
  .recomendacion h2 {
    padding: 1rem 0;
  }
}
.recomendacion-marcas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 769px) and (max-width: 1199px) {
  .recomendacion-marcas {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    margin: 2rem;
  }
}
@media (min-width: 1200px) {
  .recomendacion-marcas {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6rem;
    row-gap: 2rem;
    margin: 2rem;
  }
}
.recomendacion-marcas img {
  width: 10em;
  justify-items: center;
}
@media (min-width: 1200px) {
  .recomendacion-marcas img {
    width: 15em;
  }
  .recomendacion-marcas img:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
  }
}

/* ------ Trabajemos Juntos ------ */
.section-trabajemos-juntos {
  background-image: url("../images/image-5.png");
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2.5rem;
}
@media (min-width: 769px) and (max-width: 1199px) {
  .section-trabajemos-juntos {
    padding: 2rem 4rem;
  }
}
@media (min-width: 1200px) {
  .section-trabajemos-juntos {
    height: 600px;
    display: grid;
    grid-template-columns: 50vw 40vw 10vw;
  }
  .section-trabajemos-juntos-text {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
  }
}

/* ====== SERVICIOS ======= */
/* ------ Servicios-Intro ------ */
.servicios-intro {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 769px) and (max-width: 1199px) {
  .servicios-intro {
    padding: 1.5rem 2.5rem;
  }
}
@media (min-width: 1200px) {
  .servicios-intro {
    display: grid;
    grid-template-columns: 40vw 60vw;
  }
}
.servicios-intro-text {
  width: 80vw;
  max-width: 600px;
  text-align: center;
}
@media (min-width: 1200px) {
  .servicios-intro-text {
    width: 85%;
    max-width: 450px;
    justify-self: flex-end;
  }
}
.servicios-intro-text span {
  display: inline-block;
  margin-top: 0.5rem;
}
@media (min-width: 769px) and (max-width: 1199px) {
  .servicios-intro img {
    margin-top: 1.5rem;
    max-width: 600px;
    align-self: center;
  }
}
@media (min-width: 1200px) {
  .servicios-intro img {
    width: 80%;
    max-width: 550px;
    justify-self: center;
  }
}

/* ------ Servicios ------ */
.servicios {
  background-color: #FDEFD6;
  padding: 2.5rem 1.5rem;
  text-align: center;
}
@media (min-width: 769px) and (max-width: 1199px) {
  .servicios {
    padding: 3rem;
  }
}
@media (min-width: 1200px) {
  .servicios {
    padding: 4.5rem 1.5rem;
  }
}
.servicios-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 1200px) {
  .servicios-text {
    padding: 0rem 5rem;
    margin-bottom: 2rem;
  }
}

.detalle-servicios {
  display: grid;
  grid-template-columns: 15% 80%;
  row-gap: 1rem;
  column-gap: 1rem;
  text-align: left;
}
@media (min-width: 1200px) {
  .detalle-servicios {
    grid-template-columns: 10% 35% 10% 35%;
    row-gap: 2rem;
    padding: 1rem 4rem;
  }
}
.detalle-servicios span {
  font-family: "roboto-light";
  font-size: 2.5rem;
  text-align: right;
}
.detalle-servicios span:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
  color: #30a958;
}
@media (min-width: 1200px) {
  .detalle-servicios span {
    font-size: 3.5rem;
  }
}

/* ------ Logros ------ */
.logros {
  padding: 2.5rem 2rem;
  text-align: center;
}
.logros-list {
  font-weight: 500;
  font-size: 0.85rem;
  padding: 0.5rem;
}
@media (min-width: 1200px) {
  .logros-list {
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    text-align: center;
  }
}
.logros p:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
}
@media (min-width: 1200px) {
  .logros {
    padding: 4rem 7.5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 2rem;
  }
}
.logros span {
  display: inline-block;
  margin-top: 1rem;
}

.bi-diamond-fill {
  font-size: 0.6rem;
  color: #85D09E;
}

/* ------ Recomendación de usuario ------ */
.recomendacion-usuario {
  background-image: url("../images/imagen-2bservicios.png");
  background-size: cover;
  height: 450px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  padding: 2rem;
}
@media (min-width: 769px) and (max-width: 1199px) {
  .recomendacion-usuario {
    background-image: url("../images/imagen-2servicios.jpg");
    padding: 2rem 5rem;
  }
}
@media (min-width: 1200px) {
  .recomendacion-usuario {
    background-image: url("../images/imagen-2servicios.jpg");
    padding: 2rem 7.5rem;
  }
}
.recomendacion-usuario-text {
  font-weight: 600;
  font-style: oblique;
  line-height: 1.6;
  width: 60vw;
}
@media (min-width: 1200px) {
  .recomendacion-usuario-text {
    font-size: 1.3rem;
    width: 50vw;
  }
}

/* ------ Solicitar entrevista ------ */
.solicitar-entrevista {
  background-color: #FDEFD6;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
}
@media (min-width: 769px) and (max-width: 1199px) {
  .solicitar-entrevista {
    padding: 2rem 10rem;
  }
}
@media (min-width: 1200px) {
  .solicitar-entrevista {
    padding: 4rem;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
  }
}
.solicitar-entrevista-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  align-self: center;
}
@media (min-width: 1200px) {
  .solicitar-entrevista-text {
    grid-column-start: 2;
    max-width: 30vw;
    justify-self: center;
  }
}
.solicitar-entrevista span {
  display: inline-block;
  margin-top: 1rem;
}
.solicitar-entrevista img {
  display: none;
}
@media (min-width: 1200px) {
  .solicitar-entrevista img {
    display: inline;
    justify-self: center;
    width: 100%;
    max-width: 600px;
    grid-column-start: 1;
    grid-row-start: 1;
  }
}

@media (min-width: 1200px) {
  .button-entrevista {
    grid-column-start: 2;
  }
}

/* ====== QUIENES SOMOS ======= */
/* ------ Equipo ------ */
.quienes-somos {
  padding: 1.5rem 1rem;
}
@media (min-width: 769px) and (max-width: 1199px) {
  .quienes-somos {
    padding: 1.5rem 2.5rem;
  }
}
.quienes-somos-text {
  padding: 0rem 1.5rem 1rem;
  text-align: center;
}
@media (min-width: 1200px) {
  .quienes-somos-text {
    width: 80%;
    align-self: center;
  }
  .quienes-somos-text span {
    display: inline-block;
  }
}
.quienes-somos-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1200px) {
  .quienes-somos-intro {
    display: grid;
    grid-template-areas: "imagen titulo" "imagen parrafo";
    grid-template-columns: 60vw 40vw;
  }
  .quienes-somos-intro img {
    grid-area: imagen;
    width: 80%;
    justify-self: center;
  }
}
.quienes-somos-descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1200px) {
  .quienes-somos-descripcion {
    display: grid;
    grid-template-areas: "titulo titulo" "parrafo imagen";
    grid-template-columns: 50vw 50vw;
  }
  .quienes-somos-descripcion span {
    display: inline-block;
    margin-top: 1rem;
  }
  .quienes-somos-descripcion img {
    width: 80%;
    justify-self: center;
  }
  .quienes-somos-descripcion h2 {
    width: 80%;
    grid-area: titulo;
    padding: 2rem;
    justify-self: center;
    font-size: 1.3rem;
  }
  .quienes-somos-descripcion p {
    justify-self: end;
  }
}
.quienes-somos img {
  margin-bottom: 2rem;
}
@media (min-width: 769px) and (max-width: 1199px) {
  .quienes-somos img {
    max-width: 600px;
    align-self: center;
  }
}

/* ------ Conocer el equipo ------ */
.conoce-equipo {
  padding: 2rem 1.5rem;
}
@media (min-width: 769px) and (max-width: 1199px) {
  .conoce-equipo {
    padding: 3rem 5.5rem;
  }
}
@media (min-width: 1200px) {
  .conoce-equipo {
    padding: 4rem 7.5rem;
  }
}
.conoce-equipo img {
  width: 6rem;
  height: 6rem;
  border-radius: 200px;
  margin-bottom: 1rem;
}
@media (min-width: 769px) and (max-width: 1199px) {
  .conoce-equipo img {
    width: 10rem;
    height: 10rem;
  }
}
@media (min-width: 1200px) {
  .conoce-equipo img {
    width: 12rem;
    height: 12rem;
  }
}
.conoce-equipo img:hover {
  transform: scale(1.2);
  transition: transform 0.3s;
}
.conoce-equipo-datos {
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  column-gap: 1.5rem;
  text-align: center;
}
@media (min-width: 1200px) {
  .conoce-equipo-datos {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    justify-content: center;
  }
}
.conoce-equipo-datos h3 {
  margin-top: 0.5rem;
}
.conoce-equipo-datos h3:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
  color: #30a958;
}
.conoce-equipo-datos p {
  font-size: 0.75rem;
}
@media (min-width: 1200px) {
  .conoce-equipo-datos p {
    font-size: 0.85rem;
  }
}

/* ------ Formar parte FUTURIA ------ */
.formar-parte {
  padding: 2.5rem 2rem;
  background-color: #FDEFD6;
}
.formar-parte h2 {
  padding: 1rem 0;
}
@media (min-width: 769px) and (max-width: 1199px) {
  .formar-parte {
    padding: 2.5rem 10rem;
  }
}
@media (min-width: 1200px) {
  .formar-parte {
    padding: 2.5rem 12rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
  }
}
.formar-parte-relevante {
  font-weight: 500;
  text-align: center;
}
.formar-parte li:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
  color: #30a958;
}

.futuria {
  font-weight: 800;
  font-size: 1.3rem;
  display: inline-block;
}
@media (min-width: 1200px) {
  .futuria {
    font-size: 1.8rem;
  }
}

/* ====== PORTFOLIO ======= */
/* ------ Portfolio ------ */
.portfolio {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../images/imagen-1portfolio.png");
  background-size: cover;
  height: 400px;
}
@media (min-width: 769px) and (max-width: 1199px) {
  .portfolio {
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    padding: 1.5rem 2.5rem;
  }
}
@media (min-width: 1200px) {
  .portfolio {
    background: none;
    display: grid;
    grid-template-columns: 40% 60%;
    height: 500px;
  }
}
.portfolio h1 {
  width: 80vw;
  align-self: center;
}
@media (min-width: 769px) and (max-width: 1199px) {
  .portfolio h1 {
    width: 75vw;
  }
}
@media (min-width: 1200px) {
  .portfolio h1 {
    margin-left: 2rem;
    width: 85%;
    max-width: 450px;
  }
}
.portfolio img {
  display: none;
}
@media (min-width: 769px) and (max-width: 1199px) {
  .portfolio img {
    display: inline;
    width: 80%;
    max-width: 600px;
    justify-self: center;
  }
}
@media (min-width: 1200px) {
  .portfolio img {
    display: inline;
    width: 100%;
    max-width: 700px;
    justify-self: center;
  }
}

/* -- Trabajos Portfolio -- */
.trabajos-portfolio {
  background-color: #FDEFD6;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
.trabajos-portfolio h4 {
  margin-top: 1.5rem;
}
@media (min-width: 1200px) {
  .trabajos-portfolio h4 {
    font-size: 1.3rem;
    text-align: center;
    align-self: center;
  }
}
@media (min-width: 1200px) {
  .trabajos-portfolio p {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .trabajos-portfolio-a {
    display: grid;
    grid-template-areas: "titulo imagen" "parrafo imagen";
    grid-template-columns: 40% 60%;
  }
  .trabajos-portfolio-a img {
    grid-area: imagen;
    width: 100%;
    justify-self: center;
  }
  .trabajos-portfolio-a ul {
    width: 90%;
  }
}
@media (min-width: 1200px) {
  .trabajos-portfolio-b {
    background-image: url("../images/imagen-2trabajo.jpg");
    background-size: cover;
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-areas: "none titulo" "none parrafo";
    grid-template-columns: 60% 40%;
  }
  .trabajos-portfolio-b img {
    display: none;
  }
  .trabajos-portfolio-b h4 {
    grid-area: titulo;
  }
  .trabajos-portfolio-b ul {
    grid-area: parrafo;
    width: 90%;
  }
}
@media (min-width: 1200px) {
  .trabajos-portfolio-c {
    display: grid;
    grid-template-areas: "imagen titulo" "imagen parrafo";
    grid-template-columns: 60% 40%;
  }
  .trabajos-portfolio-c img {
    grid-area: imagen;
    width: 100%;
    justify-self: center;
  }
  .trabajos-portfolio-c ul {
    justify-self: start;
  }
}

.portfolio-contactanos {
  background-color: #85D09E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem;
  text-align: center;
  gap: 1rem;
}
.portfolio-contactanos h3 {
  font-family: dancing-script;
  font-size: 2em;
}
@media (min-width: 1200px) {
  .portfolio-contactanos h3 {
    font-size: 2.5em;
  }
}
.portfolio-contactanos h4 {
  font-size: 1.5em;
}
@media (min-width: 1200px) {
  .portfolio-contactanos h4 {
    font-size: 2em;
  }
}
.portfolio-contactanos-btn {
  background-color: #30a958;
}

/* ====== CONTACTO ======= */
/* ------ Trabajemos Juntos ------ */
.trabajemos-juntos {
  padding: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
@media (min-width: 769px) and (max-width: 1199px) {
  .trabajemos-juntos {
    padding: 1.5rem 8rem;
  }
  .trabajemos-juntos img {
    width: 80%;
    max-width: 600px;
  }
}
@media (min-width: 1200px) {
  .trabajemos-juntos {
    padding: 1.5rem 5rem;
    display: grid;
    grid-template-columns: 40% 60%;
    text-align: left;
  }
  .trabajemos-juntos img {
    grid-column-start: 2;
  }
  .trabajemos-juntos-text {
    width: 90%;
    justify-self: center;
  }
  .trabajemos-juntos-text p {
    padding: 1rem 0;
  }
}
.trabajemos-juntos span {
  font-size: 0.75rem;
  font-weight: 600;
}

.nota-recuerda {
  background-color: #85D09E;
  padding: 2.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.6;
}
@media (min-width: 769px) and (max-width: 1199px) {
  .nota-recuerda p {
    max-width: 80vw;
  }
}
@media (min-width: 1200px) {
  .nota-recuerda {
    font-size: 1.3rem;
  }
}

/* ------ Formulario Contacto ------ */
.formulario-contacto {
  background-color: #FDEFD6;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
@media (min-width: 769px) and (max-width: 1199px) {
  .formulario-contacto {
    padding: 1.5rem 4rem;
  }
}
@media (min-width: 1200px) {
  .formulario-contacto {
    padding: 3.5rem 7rem;
  }
}
.formulario-contacto-pregunta, .formulario-contacto-pregunta-c, .formulario-contacto-pregunta-b {
  font-size: 0.85rem;
  font-weight: 500;
  width: 100%;
}
@media (min-width: 1200px) {
  .formulario-contacto-pregunta, .formulario-contacto-pregunta-c, .formulario-contacto-pregunta-b {
    font-size: 1rem;
  }
}
.formulario-contacto-pregunta p, .formulario-contacto-pregunta-c p, .formulario-contacto-pregunta-b p {
  font-size: 0.75rem;
  font-style: italic;
  margin-bottom: 0;
}
.formulario-contacto-pregunta span, .formulario-contacto-pregunta-c span, .formulario-contacto-pregunta-b span {
  color: red;
  font-size: 1.3rem;
}
.formulario-contacto-pregunta input, .formulario-contacto-pregunta-c input, .formulario-contacto-pregunta-b input {
  display: block;
  width: 100%;
}
.formulario-contacto-pregunta textarea, .formulario-contacto-pregunta-c textarea, .formulario-contacto-pregunta-b textarea {
  display: block;
  width: 100%;
}
.formulario-contacto-pregunta select, .formulario-contacto-pregunta-c select, .formulario-contacto-pregunta-b select {
  display: block;
}
.formulario-contacto-pregunta-b input {
  display: inline;
  width: auto;
}
.formulario-contacto-pregunta-b div {
  padding: 0.2rem 0;
}
.formulario-contacto-pregunta-c input {
  display: inline-block;
  width: auto;
}
.formulario-contacto-pregunta-c label {
  display: inline;
}

.button-form {
  margin-top: 1rem;
}

/*# sourceMappingURL=styles.css.map */
