* {
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #30a958;
}

ul {
    list-style: none;
}

.button {
    background-color: #85D09E;
    border: none;
    color: black;
    font-size: 0.85em;
    font-weight: 500;
    border-radius: 5px;
    padding: 1em 3em;
}

.button:hover {
    background-color: #30a958;
    color: white;
}

@font-face {
    font-family: "raleway";
    src: url("../fonts/raleway.ttf");
}

@font-face {
    font-family: "roboto-light";
    src: url("../fonts/roboto-light.ttf");
}

@font-face {
    font-family: "dancing-script";
    src: url("../fonts/dancingscript.ttf");
}

body {
    font-family: "raleway";
}

/* ============= Header ============= */
.navbar {
    background-color: #FDEFD6
}

.nav-item {
    font-size: 0.9rem;
}

.nav-link:hover {
    color: #30a958;
}

h1 {
    font-weight: 600;
}

h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

h3 {
    font-size: 0.85rem;
    font-weight: 300;
}

h4 {
    font-size: 0.9rem;
    font-weight: 500;
}

main {
    font-size: 0.9rem;
}

@media (min-width: 1200px) {
    h2 {
        font-size: 1.8rem;
        font-weight: 700;
    }

    h3 {
        font-size: 1rem;
        font-weight: 500;
    }

    h4 {
        font-size: 1rem;
        font-weight: 5 00;
    }
}

/* ============= Footer ============= */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3em;
    gap: 1em;
}

.footer span {
    display: block;
    font-size: 0.9em;
    margin: 0.5em;
}

.footer h4 {
    font-weight: 500;
}

.footer-copyright {
    font-size: 0.75rem;
}

.button-up {
    color: #85D09E;
    font-size: 2.5rem;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

@media (min-width: 1200px) {
    footer {
        padding: 0rem 5rem;
    }

    .footer {
        display: grid;
        grid-template-areas:
            "explorar ubicacion copyright logo"
            "explorar ubicacion privacy logo";
        grid-template-columns: repeat(3, 20vw) auto;
        text-align: left;
    }

    .footer-explorar {
        grid-area: explorar;
    }

    .footer-ubicacion {
        grid-area: ubicacion;
    }

    .footer-privacy {
        grid-area: privacy;
    }

    .footer-logo-futuria {
        grid-area: logo;
    }
}


/* ============= INDEX/HOME ============= */
/* -- Portada -- */

.portada {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.portada-texto {
    width: 80%;
    text-align: center;
}

.imagen1 {
    width: 100%;
}

.imagen {
    width: 90%;
}

@media (min-width: 1200px) {
    .portada {
        background-image: url(../images/image-1.png);
        background-size: cover;
        height: 600px;
        padding: 0px 40px;
        display: grid;
        grid-template-columns: repeat(2, 40vw);
        justify-items: flex-end;
    }

    .imagen1 {
        display: none;
    }
}

/* -- Cualidades -- */

.section-cualidades {
    padding: 20px 10px;
    background-color: #FDEFD6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.futuria {
    font-weight: 800;
    font-size: 1.2rem;
    display: inline-block;
}

.section-cualidad-text {
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

@media (min-width: 1200px) {
    .section-cualidades {
        display: grid;
        grid-template-rows: auto repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        padding: 30px 0px;
        justify-items: center;
    }

    .section-cualidades h2 {
        font-size: 1.8rem;
    }

    .futuria {
        font-size: 1.8rem;
    }

    .imagen {
        width: 100%;
    }

    .image-reverse1 {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .image-reverse2 {
        grid-column-start: 1;
        grid-row-start: 3;
    }
}

/* -- Banner -- */
.banner-info {
    background-color: #85D09E;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding-bottom: 0.5em;
    padding: 10px;
    font-size: 0.8rem;
    font-weight: 500;

}

.banner-numeros {
    font-family: roboto-light;
    font-size: 2rem;
    display: block;
}

@media (min-width: 1200px) {

    .banner-info {
        font-size: 1rem;
        padding: 10px 50px;
    }

    .banner-numeros {
        font-size: 3rem;
    }
}

/* -- Recomendaciones -- */

.recomendacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
}

.recomendacion h2 {
    width: 70%;
    text-align: center;
}

.recomendacion-marcas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.recomendacion-marcas img {
    width: 10em;
    justify-items: center;
}

@media (min-width: 1200px) {
    .recomendacion-marcas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 6rem;
        row-gap: 4rem;
        margin: 2rem;
    }

}

/* -- Trabajemos juntos -- */

.section-trabajemos-juntos {
    background-image: url("../images/image-5.png");
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px 40px;
}

.section-trabajemos-juntos p {
    font-weight: 600;
}



@media (min-width: 1200px) {
    .section-trabajemos-juntos {
        height: 600px;
        display: grid;
        grid-template-columns: 50vw 40vw 10vw;
    }

    .section-trabajemos-juntos-text {
        grid-column-start: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 3rem;
    }

}

/* -- Instagram -- */

.seguinos-instagram {
    background-color: #FDEFD6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px;
    text-align: center;
}

.seguinos-instagram h3 {
    font-family: dancing-script;
    font-size: 2.5em;
}

.seguinos-instagram a {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 1em;
}

/* ============= SERVICIOS ============= */
/* -- Servicios-intro -- */

.servicios-intro {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicios-intro-text {
    width: 80vw;
    max-width: 600px;
    text-align: center;
}

.servicios-intro-text span {
    display: inline-block;
}

.imagen-1servicios {
    width: 100%;
}

@media (min-width: 1200px) {
    .servicios-intro {
        display: grid;
        grid-template-columns: 40vw 60vw;
    }

    .servicios-intro-text {
        width: 80%;
        max-width: 500px;
        justify-self: flex-end;
    }

    .imagen-1servicios {
        width: 80%;
        max-width: 600px;
        justify-self: center;
    }
}

/* -- Servicios -- */
.servicios {
    background-color: #FDEFD6;
    padding: 40px 30px;
    text-align: center;
}

.servicios-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.detalle-servicios {
    display: grid;
    grid-template-columns: 15% 85%;
    row-gap: 1rem;
    column-gap: 1rem;
    padding: 1rem 2rem;
    text-align: left;
}

.detalle-servicios span {
    font-family: "roboto-light";
    font-size: 2.5rem;
    text-align: right;
}

@media (min-width: 1200px) {
    .servicios-text {
        padding: 0rem 5rem;
        margin-bottom: 2rem;
    }

    .detalle-servicios {
        grid-template-columns: 10% 35% 10% 35%;
        row-gap: 2rem;
        padding: 1rem 4rem;
    }

    .detalle-servicios span {
        font-family: "roboto-light";
        font-size: 3rem;
        text-align: right;
    }
}


/* -- Logros -- */
.logros {
    padding: 40px 30px;
    text-align: center;
}

.logros-list {
    font-weight: 500;
    font-size: 0.9rem;
    text-align: left;
    margin-left: 1em;
}

.bi-diamond-fill {
    font-size: 0.6rem;
    color: #85D09E;
}

@media (min-width: 1200px) {
    .logros {
        padding: 40px 120px;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .logros-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1rem;
        text-align: center;
    }
}

/* -- Recomendación usuarios -- */

.recomendacion-usuario {
    background-image: url("../images/imagen-2bservicios.png");
    background-size: cover;
    height: 450px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
}

.recomendacion-usuario h4 {
    font-size: 1rem;
    font-weight: 600;
    font-style: oblique;
    line-height: 1.6;
    width: 60vw;
}


@media (min-width: 1200px) {
    .recomendacion-usuario {
        background-image: url("../images/imagen-2servicios.jpg");
        padding: 30px 120px
    }

    .recomendacion-usuario h4 {
        font-size: 1.2rem;
        width: 50vw;
    }
}

/* -- Solicitar-entrevista -- */

.solicitar-entrevista {
    background-color: #FDEFD6;
    height: 400px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.solicitar-entrevista-text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-self: center; 
}
.solicitar-entrevista span {
    display: inline-block;
}

.imagen-3servicios {
    display: none;
}

@media (min-width: 1200px) {
    .solicitar-entrevista {
        background-color: transparent;
        display: grid;
        grid-template-columns: 40% 60%;
        
        
    }

    .solicitar-entrevista-text {
        width: 80%;
        max-width: 500px;
        margin-left: 3rem;
    }

    .imagen-3servicios {
        display: block;
        height: 100%;
      
        justify-self: center;
    }
}

/* ============= Quienes somos ============= */
/* -- Quienes somos intro -- */

.quienes-somos {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quienes-somos-text {
    width: 80vw;
    max-width: 600px;
    text-align: center;
    margin-top: 1rem;
}


.imagen-1servicios {
    width: 100%;
}

/* -- Conocé al equipo -- */
.conoce-equipo{
    padding: 30px;
   
}

.datos-equipo{
    padding: 20px 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    text-align: center;
}

/* -- Formar parte -- */
.formar-parte{
background-color: #FDEFD6;
height: 450px;
padding: 40px;
}

/* ============= PORTFOLIO ============= */
/* -- Portfolio -- */

.portfolio{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imagen-1servicios {
    width: 100%;
}

/* -- Trabajos Portfolio -- */
.trabajos-portfolio{
    background-color: #FDEFD6;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.ig-portfolio{
    background-color: #85D09E;
}

/* ============= CONTACTO ============= */
/* -- Trabajemos juntos -- */

.trabajemos-juntos{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 1rem;
}
.trabajemos-juntos span{
    font-size: 0.65rem;
    font-style: italic;
}

.nota-recuerda {
    background-color: #85D09E;
    height: 210px;
    text-align: center;
}

.nota-recuerda h4 {
    padding: 40px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.6;
 }

 /* -- Formulario Contacto -- */
 .formulario-contacto{
    background-color: #FDEFD6;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
 }