/* ====== INDEX/HOME ======= */
/* ------ Portada ------ */

.portada {
    padding: 1.5rem 1rem;
    @include flex-box ();

    @include desktop() {
        background-image: url(../images/image-1.png);
        background-size: cover;
        height: 600px;
        padding: 0 2.5rem;
        display: grid;
        grid-template-columns: repeat(2, 40vw);
        justify-items: flex-end;

    }

    &-texto {
        width: 80%;
        text-align: center;
    }
}

.imagen1 {
    @include desktop () {
        display: none;
    }
}

/* ------ Cualidades ------ */

.section-cualidades {
    padding: 20px 10px;
    background-color: $color-primario;
    @include flex-box ();

    @include desktop () {
        display: grid;
        grid-template-rows: auto repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        padding: 30px 0px;
        justify-items: center;

        .image-reverse1 {
            grid-column-start: 1;
            grid-row-start: 1;
        }

        .image-reverse2 {
            grid-column-start: 1;
            grid-row-start: 3;
        }

    }
    
    .futuria {
        font-weight: 800;
        font-size: $font-size-grande;
        display: inline-block;
    
        @include desktop() {
            font-size: $font-size-extragrande;
        }
    }

    &-text {
        width: 80%;
        text-align: center;
        @include flex-box ();
        gap: 1rem;
        padding: 1rem;
    }
}



/* ------ Recomendaciones ------ */
.recomendacion {
    @include flex-box ();
    padding: 4rem 1rem;

    h2 {
        width: 70%;
        text-align: center;
        @include desktop(){
            padding: 1rem 0;
        }
    }


    &-marcas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @include desktop () {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 6rem;
            row-gap: 2rem;
            margin: 2rem;
        }

        img {
            width: 10em;
            justify-items: center;

            @include desktop() {
                width: 15em;

                &:hover {
                    transform: scale(1.2);
                    transition: transform .5s;
                }
            }
        }
    }
}




/* ------ Trabajemos Juntos ------ */

.section-trabajemos-juntos {
    background-image: url("../images/image-5.png");
    background-size: cover;
    height: 400px;
    @include flex-box ();
    padding: 30px 40px;

    @include desktop() {
        height: 600px;
        display: grid;
        grid-template-columns: 50vw 40vw 10vw;

        &-text {
            grid-column-start: 2;
            @include flex-box ();
            text-align: center;
            gap: 3rem;
        }
    }
}